* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rosita: #ff00df;
    --rosa-claro: #fd58ff;
    --rosa-oscuro: #a90094;
    --rosa-neon: #fd58ff;
    --blanco: #fff;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: url('bg_tile.jpg');
    background-size: 40%;
    color: var(--blanco);
    /* height: 300vh; */
}

.oculto {
    display: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header--svg {
    width: 12.5%;
    height: auto;
}

.header--logo {
    width: 34.375%;
    height: auto;
}

.hamburgesa {
    fill: none;
    stroke: var(--blanco);
    stroke-width: 1;
}

.main {
    width: 100%;
    height: auto;
    /* background: rgba(0, 0, 0, 0.507); */
    /* position: absolute; */
    /* top: 400px; */
}

.main--slider--img, .main--slider {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.507);
}

.main--slider {
    height: 152.34375vw;
}

.main--slider--img {
    position: absolute;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-name: aparecer;
    filter: opacity(0);
    animation-iteration-count: infinite;
}

.slider--anime {
    animation-delay: 6s;
    position: absolute;
}

.slider--petitmix {
    animation-delay: 12s;
    position: absolute;
}

@keyframes aparecer {
    0.5% {
        filter: opacity(1);
    }

    32.77% {
        filter: opacity(1);
    }

    33.33% {
        filter: opacity(0);
    }
}

.main--slider--punto {
    width: 100%;
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.main--slider--punto--circulo {
    width: calc(1vw + 0.43rem);
    height: calc(1vw + 0.43rem);
    border: 1px solid var(--blanco);
    animation-name: pelotitas;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 100%;
    margin: 0 0.5em;
}

.main--slider--punto--circulo:nth-of-type(2) {
    animation-delay: 6s;
}

.main--slider--punto--circulo:nth-of-type(3) {
    animation-delay: 12s;
}

@keyframes pelotitas {
    0.5% {
        background: var(--blanco);
    }

    32.77% {
        background: var(--blanco);
    }

    33.33% {
        background: black;
    }
}

/* .section--news--title {
    color: transparent;
    border: 1px solid var(--rosa-neon);
    font-size: 3rem;
} */

.section--news, .socialmedia {
    background: linear-gradient(rgba(0, 0, 0, 0.507) 80%, transparent);
}

.section--news--title--text {
    fill: none; 
    stroke: var(--rosa-neon);
    stroke-width: 0.3;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}

.section--news--contenido {
    width: 100%;
    display: flex;
/*     display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em; */
    font-size: calc(0.68rem + 1vw);
    color: var(--blanco);
    font-weight: bold;
    padding: 0 1em;
    flex-wrap: wrap;
    gap: 1em;
}

.news--contenido--info--img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.img--especial {
    height: 25.48959375vw;
    object-fit: contain;
}

.news--contenido--info--info {
    line-height: 1.8em;
    margin-top: 0.6em;
}

.section--news--contenido--info {
    width: calc(50% - 0.5em);
}

.news--contenido--info--fecha {
    font-size: calc(0.58rem + 1vw);
}

.news--svg {
    width: calc(0.335rem + 1vw);
    height: auto;
    margin-left: 0.5rem;
}

.news--path {
    fill: var(--rosita);
}

.news--contenido--more {
    text-align: right;
    color: var(--blanco);
    font-family: 'Barlow', sans-serif;
    font-size: calc(0.68rem + 1vw);
    font-weight: bold;
    margin: 3em 0;
    padding: 0 1em;
}

.about {
    background: url('bg_about_mobile.png'), linear-gradient(rgba(0, 0, 0, 0.507) 80%, transparent);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.about--title, .socialmedia--title {
    margin-top: 2em;
}

.about--text {
    color: var(--blanco);
    padding: 0 15%;
    text-align: center;
    line-height: 2em;
    font-size: calc(0.68rem + 1vw);
    margin-bottom: 3em;
}

.about--text--span {
    background: linear-gradient(to right, #e605ec, #4b26f9);
}

/* EMPIEZA SECCIÓN SOCIAL MEDIA*/

.socialmedia::after {
    display: block;
    content: '';
    width: 100%;
    height: 8vw;
    border-radius: 100%;
    position: absolute;
    background: var(--rosita);
    opacity: 0.4;
    filter: blur(10px);
    font-size: calc(0.68rem + 1vw);
    bottom: calc(-5em - 4vw);
}

.socialmedia {
    position: relative;
    z-index: -1;
}

.socialmedia--redes {
    padding: 0 15%;
}

.socialmedia--redes--link {
    width: 100%;
    font-size: calc(0.68rem + 1vw);
    padding: 1.25em 1.875em;
    color: var(--blanco);
    text-decoration: none;
    display: flex;
    border: 1px solid var(--rosa-oscuro);
    border-radius: 0.5rem;
    align-items: center;
    margin-bottom: 1em;
}

.socialmedia--redes--link:nth-of-type(3), .socialmedia--redes--link:nth-of-type(6) {
    margin-bottom: 3em;
}

.socialmedia--redes--link:nth-of-type(7) {
    margin-bottom: 5em;
}

.redes--link--img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.5em;
}

.redes--link--text--cuenta {
    font-size: calc(0.58rem + 1vw);
}

/*EMPIEZA FOOTER*/

.footer {
    background: #000;
    padding: 2.5em 3em;
}

.footer--firm--img {
    width: 100%;
}

.footer--share {
    font-size: calc(0.78rem + 1vw);
    color: var(--blanco);
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.footer--share--img {
    width: 2.5454em;
    height: auto;
    vertical-align: middle;
    margin: 0 0 0 1.5em;
}

.footer--share--img:nth-of-type(1) {
    margin: 0 0 0 2.3em;
}

.footer--firm--logo {
    display: flex;
    justify-content: space-evenly;
}

.footer--firm--logo--img:nth-of-type(1) {
    width: 35%;
    /* max-height: 45.2167px; */
    max-height: 6vw;
}

.footer--firm--logo--img:nth-of-type(2) {
    height: calc(6vw + 2.5vw);
    width: 35%;
}

.footer--idioma, .footer--idioma--link {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}

.footer--idioma {
    font-size: calc(0.88rem + 1vw);
}

.footer--cookies--a {
    color: var(--blanco);
}

.footer--cookies {
    text-align: center;
    font-size: calc(0.68rem + 1vw);
}

.footer--all--rights {
    color: grey;
    text-align: center;
}

.footer--firm--img, .footer--firm--logo--idioma, .footer--cookies, .footer--all--rights, .footer--share, .footer--firm--logo, .footer--idioma {
    margin-bottom: 2rem;
}

.footer--all--rights {
    font-size: calc(0.43rem + 1vw);
}

.link--arriba--img {
    width: 7vw;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1em;
}